.controls {
    &__playback {
    }

    &__buttons {
        text-align: center;

        & button {
            width: 2rem;
            height: 2rem;
            font-size: 0.8rem;
        }
        & i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
